<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Confirmed / Replied:</strong>
  <%= @no_of_confirmed %> / <%= @no_of_replied %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h1>Listing Participants</h1>

<%= link_to 'Send All', confirm_all_path(@event), method: :post %>
<%= link_to 'Send 2nd', confirm_2nd_path(@event), method: :post %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.participants.order(id: :asc).each do |participant| %>
      <tr>
        <td><%= participant.id %></td>
        <td><%= participant.name %></td>
        <td>(Hidden)</td>
        <td><%= participant.status %></td>
        <td><%= participant.confirmed %></td>
        <td><%= link_to 'Edit', edit_event_participant_path(@event, participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Send Email', confirm_path(participant), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_event_participant_path(@event) %>
